<div class="container-fluid">
  <div class="row" id="principalInicio">
    <div class="col-11">
      <div class="row">
        <div class="col-8">
          <div class="context">
            <div class="slider-wrapper">
              <h1>NOSOTROS<br /><span>CREAMOS</span></h1>
              <div class="slider">
                <div class="slider-text1">
                  <h1>TIENDAS VIRTUALES</h1>
                </div>
                <div class="slider-text2">
                  <h1>SITIOS WEB ÚNICOS</h1>
                </div>
                <div class="slider-text3">
                  <h1>APPS MÓVILES</h1>
                </div>
                <div class="slider-text4">
                  <h1>APPS WEB</h1>
                </div>
              </div>
            </div>
            <a href="#" class="flecha animated bounce infinite slower delay-5s">
              <span>
                <i class="fas fa-arrow-circle-down"></i>
              </span>
            </a>
          </div>
        </div>
        <div class="col-4">
          <a routerLink="/nosotros" class="btn btn-outline-warning btn-large mt-5 cotiza animated fadeInUp">
            <i class="fas fa-caret-right"></i> COTIZA CON NOSOTROS
          </a>
        </div>
      </div>
      <div class="area">
        <ul class="circles">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
    </div>
    <div class="col-1 bgBlack">
      <div class="row">
        <div class="col-4 slogan text-right animated fadeInDownBig">
          <p>I</p>
          <p>M</p>
          <p>A</p>
          <p>G</p>
          <p>I</p>
          <p>N</p>
          <p>A</p>
          <p>S</p>
        </div>

        <div class="col-4 slogan animated fadeInUpBig">
          <p>L</p>
          <p>O</p>
          <br />
          <p>Q</p>
          <p>U</p>
          <p>E</p>
        </div>

        <div class="col-4 slogan pr-3 animated fadeInDownBig">
          <p>P</p>
          <p>R</p>
          <p>O</p>
          <p>G</p>
          <p>R</p>
          <p>A</p>
          <p>M</p>
          <p>A</p>
          <p>M</p>
          <p>O</p>
          <p>S</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row container-fluid">
  <!--Sobre nosotros-->
  <div class="col-3 nosotrosImg" data-aos="fade-right">
    <img src="assets/img/logo-vertical.png">
  </div>
  <div class="col-9 nosotrosText" data-aos="fade-left">
    <p>Creamos desde sitios web y tiendas virtuales profesionales, modernas y complejas, hasta sistemas y aplicaciones
      de toda
      índole y utilidad, para cualquier entorno y dispositivo.</p>
    <button routerLink="/nosotros" class="btn btn-info mt-2">CONOCE MÁS DE NOSOTROS</button>
  </div>
</div>

<div class="container-fluid">
  <div class="row mt-5">
    <div class="col-6 mb-2" data-aos="zoom-in">
      <a routerLink="/aplicaciones-web" class="servicios">
        <div class="card services" id="servicio1">
          <div class="card-body">
            <h1>APLICACIONES<br /><b>WEB</b></h1>
          </div>
        </div>
      </a>
    </div>
    <div class="col-6 mb-2" data-aos="zoom-in">
      <a routerLink="/aplicaciones-moviles" class="servicios">
        <div class="card services" id="servicio2">
          <div class="card-body">
            <h1>APLICACIONES<br><b>MÓVILES</b></h1>
          </div>
        </div>
      </a>
    </div>
    <div class="col-6" data-aos="zoom-in">
      <a routerLink="/sitios-web" class="servicios">
        <div class="card services" id="servicio3">
          <div class="card-body">
            <h1>SITIOS WEB<br><b>EXCLUSIVOS</b></h1>
          </div>
        </div>
      </a>
    </div>
    <div class="col-6" data-aos="zoom-in">
      <a routerLink="/tiendas-online" class="servicios">
        <div class="card services" id="servicio4">
          <div class="card-body">
            <h1>TIENDAS VIRTUALES<br><b>A MEDIDA</b></h1>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
<div class="row container-fluid mt-2 mb-5">
  <!--Subscripción-->
  <div class="col-4 text-white" id="subscripcion" data-aos="flip-right" data-aos-duration="2000">
    <h3>Descubré el poder de la programación y la automatización</h3>
    <p>Conoce nuevas soluciones para tu empresa o trabajo, aprende sobre programación y como usar el desarrollo a tu
      favor.</p>
    <p>Nos comprometemos a no enviar spam ni correos basura.</p>
    <form>
      <div class="form-group">
        <input type="text" name="nombre" class="form-control" placeholder="Nombre">
        <input type="email" name="email" class="form-control" placeholder="Email">
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
        <label class="form-check-label" for="exampleRadios1">
          Quiero automatizar y mejorar procesos en mi empresa
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
        <label class="form-check-label" for="exampleRadios1">
          Me gusta la tecnología y el desarrollo
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
        <label class="form-check-label" for="exampleRadios2">
          Soy programador y quiero aprender
        </label>
      </div>
      <button class="btn btn-secondary btn-block mt-3">
        QUIERO SUBSCRIBIRME
      </button>
      <div class="text-center">
        <small>*Puedes cancelar la suscripción en cualquier momento</small>
      </div>
    </form>
  </div>
  <!--Últimos blogs-->
  <div class="col text-white">
    <div class="row">
      <div class="offset-1 col">
        <div class="card cardBlog" data-aos="zoom-in-up">
          <img class=" card-img-top" src="assets/img/pblog.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Programación orientada a objetos en 1 minuto</h5>
            <p><small>22/02/2020 | Programación</small></p>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.
            </p>
            <div class="row">
              <div class="col-7">
                <a href="#" class="btn btn-primary">VER MÁS <i class="fas fa-angle-right"></i></a>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card cardBlog" data-aos="zoom-in-up">
          <img class=" card-img-top" src="assets/img/pblog.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Aplicaciones Móviles:<br>Hibridas V/S Nativas</h5>
            <p><small>22/02/2020 | Apps Móviles</small></p>

            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.
            </p>
            <div class="row">
              <div class="col-7">
                <a href="#" class="btn btn-primary">VER MÁS <i class="fas fa-angle-right"></i></a>
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>