<div class="container-fluid">
    <div class="row">
        <div class="col-9 mt-4">
            <div class="jumbotron" data-aos="zoom-in-up">
                <p class="lead">Estamos aquí para brindarte la capacidad de automatizar tus procesos, de recopilar
                    información que te resulte de
                    utilidad, de mejorar la conexión con tus clientes y en general de construir la solución que tu
                    empresa requiera para
                    crecer y mejorar, con sistemas de todo tipo, para cualquier dispositivo y en entorno.</p>
                <hr class="my-4">
                <p class="texto2">
                    Nuestra misión es brindarte la capacidad de enfocarte en lo importante, automatizando las tareas
                    repetitivas, logrando
                    un mejor control de la información y una mayor conexión con clientes, trabajadores, proveedores y
                    comunidad.
                </p>
            </div>
            <div class="row">
                <div class="col-4 text-center text-white" data-aos="fade-up" data-aos-delay="500">
                    <p class="titulo">
                        <span><i class="fab fa-sketch"></i></span><br>
                        UI/UX
                        <p>
                            <p>Experiencia de usuario y usabilidad</p>
                </div>
                <div class="col-4 text-center text-white" data-aos="fade-up" data-aos-delay="1000">
                    <p class="titulo" data-toggle="tooltip" data-html="true"
                        title="<em>Tooltip</em> <u>with</u> <b>HTML</b>">
                        <span><i class="fas fa-star"></i></span><br>
                        VANGUARDIA
                    </p>
                    <p>Mejores técnologias y escalabilidad</p>
                </div>
                <div class="col-4 text-center text-white" data-aos="fade-up" data-aos-delay="1500">
                    <p class="titulo">
                        <span><i class="fas fa-ruler-combined"></i></span><br>
                        A MEDIDA
                    </p>
                    <p>Tú marca, tus ideas, tú proyecto</p>
                </div>
                <div class="col-12" id="pqElegirnos" data-aos="fade-right">
                    <div class="row">
                        <div class="col-6">
                            <button class="btn btn-outline-warning btn-lg mt-3" type="button" data-toggle="collapse"
                                data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                ¿PORQUE ELEGIRNOS?
                            </button>
                        </div>
                        <div class="col-6 text-white slogan">
                            <h2>PROGRAMAMOS LO QUE IMAGINAS</h2>
                        </div>
                    </div>


                    <div class="collapse mt-3" id="collapseExample">
                        <div class="card card-body text-black-50">
                            <p>1. Todas nuestras soluciones se preocupan de los aspectos más importantes a la
                                hora de crear un
                                sistema o aplicación. Siempre son fáciles de usar porque nos enfocamos en brindar una
                                grata experiencia
                                al usuario final con soluciones intuitivas, visuales y dinámicas.</p>
                            <p>2. Siempre estarán creadas en las más solidas y demandadas tecnologías de programación,
                                lo cual permite
                                que
                                sean
                                fácilmente expandibles y
                                escalables a la hora de querer agregar, quitar o modificar alguna función.</p>
                            <p>3. Son soluciones a medida, lo cual trae muchos beneficios; mantiene la
                                imagen y
                                personalidad de la empresa,
                                incluye justo lo que se necesita para optimizar o automatizar tareas, procesos y/o
                                gestiones, es
                                decir, se desarrollan
                                de acuerdo a las exigencias y necesidades exclusivas de la empresa, brindando, además,
                                autonomía
                                para su mantención, sin
                                depender de un programador para mantenerlas vigentes y activas.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-4 mb-4 text-white" id="somos">
                <div class="col-4 text-center">
                    <h1 class="mt-4">SOMOS</h1>
                </div>
                <div class="col-8">
                    <ul>
                        <li><b>Transparentes</b> en todos nuestros procesos.</li>
                        <li><b>Comprometidos</b> con nuestros clientes, trabajadores, comunidad y el medio ambiente.
                        </li>
                        <li><b>Leales</b> a nuestros clientes, resguardamos sus ideas e información.</li>
                        <li><b>Responsables</b> de los proyectos, nuestro equipo y su desarrollo profesional.</li>
                    </ul>
                </div>
            </div>


        </div>
        <div class="col-3 text-justify" id="sidebar" data-aos="flip-right" data-aos-duration="2500">
            <div class="text-center mb-3">
                <img src="assets/img/nosotros.png" class="rounded-circle" height="200px">
            </div>
            <p>Soy Felipe Moyano, fundador de HitCode, llevamos ya 4 años de funcionamiento, creando junto a nuestro
                equipo todo tipo de soluciones a distintas empresas de renombre.</p>
            <p>
                La necesidad creciente de las medianas y grandes empresas para manejar la información, automatizar
                procesos y mejorar su
                conectividad nos brindaron la oportunidad de seguir un camino basados exclusivamente en la programación
                y en la
                experiencia de usuario, por lo que el año 2016 nace HitCash, hoy HitCode, en respuesta a esta demanda,
                la cual se
                expande rápidamente a las últimas y más robustas tecnologías, logrando hoy en día la capacidad de
                programar cualquier
                tipo de solución, para todo tipo de dispositivos y entornos, junto con capacitar a nuevos programadores
                e integrarlos al
                mundo del desarrollo.
            </p>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row" id="ambiente" data-aos="fade-up">
        <div class="col-6">
            <h3>Apoyamos a disminuir la tala de arboles</h3>
            <p>Los contenidos en formato digital y el uso de numerosas vías de identificación y de validación
                online, como los
                certificados digitales y los códigos y contraseñas verificados, ha permitido dar un gran impulso
                a la transformación
                digital y restar cada vez más importancia al papel.</p>
            <p>Las empresas han apostado por la transformación digital como vía para:</p>
            <ul>
                <li>Reducir costes.</li>
                <li>Mejorar la comunicación con sus clientes.</li>
                <li>Cumplir con la normativa estatal.</li>
                <li>Mejorar la disponibilidad de documentos de importancia crítica.</li>
                <li>Potenciar el trabajo colaborativo entre las nuevas generaciones.</li>
            </ul>
        </div>
        <div class="col-6 text-center">
            <p class="text-especial">Son tantas las razones para digitalizar los procesos que consumen una
                cantidad importante de
                papel que no hay excusa,
                por esta razón HitCode en conjunto con cada uno de sus clientes contribuyen a frenar la
                deforestación y combatir el
                cambio climático.</p>
            <div class="text-center">
                <img src="assets/img/cuidado-ambiental.png" height="150px">
            </div>
        </div>
    </div>
</div>