<div class="container-fluid">
    <div class="row" id="appWeb">
        <div class="col-6 animated fadeInLeft" id="queEs">
            <h3>¿Que es una <b>aplicación web?</b></h3>
            <p>
                Son aplicaciones multiplataforma que se ejecutan mediante un navegador, lo cual permite que se ejecuten
                en
                casi todos los dispositivos modernos como computadores, celulares, tablets, televisores, relojes
                modernos, entre otros.
                <br>Se puede programar cualquier tipo de aplicación, desde un simple programa para organizar tareas
                hasta
                programas complejos como un sistema contable completo o una plataforma para lograr el teletrabajo en tu
                empresa.
                La imaginación es el límite.
            </p>
        </div>
        <div class="col-6 pt-3 animated bounceInLeft slow" id="ejemplos">
            <h3><i class="fas fa-arrow-alt-circle-right"></i> Ejemplos</h3>
            <p>
                Existen muchas aplicaciones web que usamos día a día, como Facebook, Amazon, Netflix, Gmail, Google,
                YouTube, Google
                Maps, entre muchas otras. Se puede crear prácticamente cualquier tipo de plataforma o sistema con las
                funcionalidades
                que se deseen.
                Manejar, recopilar, respaldar y centralizar información, automatizar procesos, crear canales de
                comunicación, montar
                plataformas de teletrabajo o de enseñanza, brindar soporte y mucho más se hace posible con una
                aplicación web.
            </p>
            <hr class="amarillo">
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <img src="assets/img/prueba2.png" class="img-fluid animated fadeInUp delay-1s">
        </div>
        <div class="col-6 mt-3 animated fadeIn delay-1s" id="entornos">
            <h2>Sistemas Online e Intranet</h2>
            <p>Las aplicaciones web permiten ser usadas en dos entornos principalmente:</p>
            <ol>
                <li>
                    En una <b>intranet o red local</b>, como en un grupo de oficina, donde la información se respaldará
                    en los
                    mismos computadores del grupo de trabajo sin requerir conexión a internet.
                </li>
                <li>
                    En <b>internet</b>, donde todos se podrán conectar y la información se almacenará y centralizará en
                    un
                    servidor de la nube.
                </li>
            </ol>
        </div>

    </div>
    <div class="row mb-3" data-aos="fade-up">
        <div class="col-8">
            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                                aria-expanded="true" aria-controls="collapseOne">
                                <b>UI/UX Y ESCALABILIDAD</b>
                            </button>
                        </h2>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                        data-parent="#accordionExample">
                        <div class="card-body">
                            Nuestros desarrollos se basan en la experiencia de usuario, siguiendo solidos estándares de
                            usabilidad e interfaz de
                            usuario, junto a solidos estándares de tipado, lo cual brinda una mayor autonomía,
                            accesibilidad y permite la
                            escalabilidad de los proyectos.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h2 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <b>A MEDIDA Y AUTÓNOMAS </b>
                            </button>
                        </h2>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body">
                            Las aplicaciones que creamos son hechas a medida, lo cual nos permite crear interfaces
                            únicas en diseño, manteniendo
                            siempre la personalidad de la empresa que las solicite. También, son siempre auto
                            administrables, esto facilita
                            mantenerlas vigentes y activas sin la necesidad de contratar un programador.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h2 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                <b>90 DÍAS DE GARANTÍA Y 1 AÑO DE ALOJAMIENTO GRATUITO</b>
                            </button>
                        </h2>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                        data-parent="#accordionExample">
                        <div class="card-body">
                            Los proyectos cuentan con 90 días de garantía en los cuales sacamos todos los posibles bugs,
                            fallas de diseño y
                            usabilidad, lo que nos permite dar siempre un sistema que cumpla las expectativas y funcione
                            como el cliente lo
                            esperaría.
                            Finalmente, todos nuestros desarrollos incluyen un año de servicio de hosting o servidor VPS
                            completamente gratis,
                            reuniones e informes de avances semanales, adaptabilidad a todo tipo de pantallas, manuales
                            de usabilidad en PDF y
                            capacitación remota, junto con diversos métodos y flexibilidad de pagos.
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-4 text-amarillo text-center mt-5">
            <p class="animated infinite heartBeat delay-2s slower" style="font-size: 38px"><i
                    class="fas fa-arrow-circle-down"></i></p>
            <button class="btn btn-info">QUIERO COTIZAR AHORA</button>
        </div>
    </div>