<div class="container-fluid">
  <div class="row prenavBg">
    <div class="col-6" id="contacto">
      <ul>
        <li>
          <a href="#" class="text-white">
            <i class="fab fa-whatsapp"></i> +56978738912
          </a>
        </li>
        <li>
          |
        </li>
        <li class="text-white">
          <i class="far fa-envelope"></i> contacto@hitcash.cl
        </li>
      </ul>
    </div>
    <div class="col-6 text-right">
      <a routerLink="/contacto" class="text-white"><i class="far fa-id-card"></i> Trabaja con nosotros
      </a>
    </div>
  </div>
</div>
<nav class="navbar navbar-expand-lg navbar-dark nav-bg">
  <a class="navbar-brand brand" routerLink="/inicio">
    <img src="assets/img/logo-solo.png" width="30" height="30" alt="" />
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">INICIO</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/nosotros">NOSOTROS</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          SERVICIOS
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/aplicaciones-web">Aplicaciones Web</a>
          <a class="dropdown-item" routerLink="/aplicaciones-moviles">Aplicaciones Móviles</a>
          <a class="dropdown-item" routerLink="/tiendas-online">Tiendas Virtuales</a>
          <a class="dropdown-item" routerLink="/sitios-web">Sitios Web Exclusivos</a>
          <a class="dropdown-item" routerLink="/sitios-web">Administración de sistemas</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/blog" tabindex="-1" aria-disabled="true">BLOG</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/tienda" tabindex="-1" aria-disabled="true">TIENDA</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/cursos" tabindex="-1" aria-disabled="true">CURSOS</a>
      </li>
    </ul>
    <div class="form-inline my-2 my-lg-0">
      <button routerLink="/contacto" class="btn btn-outline-warning my-2 my-sm-0" type="submit">
        <i class="fas fa-caret-right"></i> Contactanos
      </button>
    </div>
  </div>
</nav>