<div class="container-fluid" id="preFooter" data-aos="zoom-out-up">
    <div class="row">
        <div class="col">
            <h3 class="textFooter">Si se puede imaginar,<br>se puede programar.</h3>
        </div>
        <div class="col">
            <h3>CONTACTO</h3>
            <ul>
                <li><i class="fas fa-map-marked"></i> Yerbas Buenas #153, Los Andes, Chile</li>
                <li><i class="fas fa-envelope"></i> contacto@hitcode.cl</li>
                <li><i class="fas fa-mobile"></i> +569 3559 6730</li>
                <li><i class="fas fa-mobile"></i> +569 7873 8912</li>
                <li><a routerLink="/contacto"><i class="fas fa-angle-right"></i> Contactanos por acá</a></li>
            </ul>
        </div>
        <div class="col" id="serviciosFooter">
            <h3>SERVICIOS</h3>
            <ul>
                <li><a routerLink="/aplicaciones-web">Aplicaciones web</a></li>
                <li><a routerLink="/aplicaciones-web">Sistemas en intranet</a></li>
                <li><a routerLink="/aplicaciones-moviles">Aplicaciones Móviles (IOS y Android)</a></li>
                <li><a routerLink="/sitios-web">Sitios Web Exclusivos</a></li>
                <li><a routerLink="/tiendas-online">Tiendas Profesionales</a></li>
            </ul>
        </div>
        <div class="col-2 redesSociales">
            <h3>SIGUENOS</h3>
            <ul class="mt-3">
                <li>
                    <a href="#" target="__blank">
                        <img src="assets/img/facebook.png" height="30px">
                    </a>
                </li>
                <li>
                    <a href="#" target="__blank">
                        <img src="assets/img/instagram.png" height="30px">
                    </a>
                </li>
                <li>
                    <a href="#" target="__blank">
                        <img src="assets/img/tiktok.png" height="30px">
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col text-center pt-3" id="footer">
            <p>HitCode &copy; {{anio}}</p>
        </div>
    </div>
</div>